In [224]:
import pandas as pd

In [225]:
df = pd.read_csv("./data/Traffic_Collisions_7381593408705361607.csv")

In [226]:
# df = pd.read_csv("./data/waterloo_accidents_clean.csv")

In [227]:
len(df)

8928

In [228]:
df.isna().sum().sum()

8930

In [229]:
df.drop(columns=["ENVIRONMENTCONDITION2"], inplace=True)

In [230]:
df.isna().sum().sum()

2

In [231]:
df.dropna(inplace=True)

In [232]:
df.isna().sum().sum()

0

In [233]:
len(df)

8927

In [234]:
for i in df.columns:
    print(i, len(df[i].unique()))

OBJECTID 8927
ACCIDENTNUM 8927
ACCIDENTDATE 8690
ACCIDENT_YEAR 8
ACCIDENT_MONTH 12
ACCIDENT_DAY 31
ACCIDENT_HOUR 24
ACCIDENT_MINUTE 60
ACCIDENT_SECOND 1
ACCIDENT_WEEKDAY 7
XCOORD 8451
YCOORD 8437
LONGITUDE 7539
LATITUDE 7562
ACCIDENTLOCATION 8
COLLISIONTYPE 3
CLASSIFICATIONOFACCIDENT 6
IMPACTLOCATION 13
INITIALDIRECTIONOFTRAVELONE 1
INITIALDIRECTIONOFTRAVELTWO 1
INITIALIMPACTTYPE 8
INTTRAFFICCONTROL 3
LIGHT 10
LIGHTFORREPORT 10
ROADJURISDICTION 6
TRAFFICCONTROL 12
TRAFFICCONTROLCONDITION 6
THRULANENO 4
NORTHBOUNDDISOBEYCOUNT 2
SOUTHBOUNDDISOBEYCOUNT 2
PEDESTRIANINVOLVED 2
CYCLISTINVOLVED 2
MOTORCYCLISTINVOLVED 2
ENVIRONMENTCONDITION1 8
SELFREPORTED 2
XMLIMPORTNOTES 8193
LASTEDITEDDATE 7118
x 8451
y 8437

In [235]:
df.rename(columns={"PEDESTRIANINVOLVED": "Pedestrian_Involved",
                   "CYCLISTINVOLVED": "Cyclist_Involved",
                   "MOTORCYCLISTINVOLVED": "Motorcyclist_Involved",
                   "SELFREPORTED": "Self_Reported",
                   "INITIALIMPACTTYPE": "Impact_Type",
                   "CLASSIFICATIONOFACCIDENT": "Accident_Type"}, inplace=True)

In [236]:
vul_columns = ["Pedestrian_Involved", "Cyclist_Involved", "Motorcyclist_Involved"]

for i in df[vul_columns]:
    print(df[i].value_counts())
    print()

Pedestrian_Involved
False    8689
True      238
Name: count, dtype: int64

Cyclist_Involved
False    8766
True      161
Name: count, dtype: int64

Motorcyclist_Involved
False    8863
True       64
Name: count, dtype: int64

In [237]:
df["Vulnerable_Involved"] = None

In [238]:
for col in vul_columns:
    for index, value in df[col].items():
        if value == False:
            df.at[index, "Vulnerable_Involved"] = False
        elif value == True:
            df.at[index, "Vulnerable_Involved"] = True

In [239]:
df.rename(columns={"ENVIRONMENTCONDITION1": "Environment_Condition"}, inplace=True)
cur_column = "Environment_Condition"

df[cur_column].value_counts()

Environment_Condition
Clear                     7159
Snow                       921
Rain                       663
Freezing Rain               68
Fog, mist, smoke, dust      42
Drifting Snow               30
Other                       24
Strong wind                 20
Name: count, dtype: int64

In [240]:
for index, value in df[cur_column].items():
    if value == "Freezing Rain":
        df.at[index, cur_column] = "Rain"
    elif value == "Fog, mist, smoke, dust" or value == "Strong wind":
        df.at[index, cur_column] = "Other"
    elif value == "Drifting Snow":
        df.at[index, cur_column] = "Snow"

df[cur_column].value_counts()

Environment_Condition
Clear    7159
Snow      951
Rain      731
Other      86
Name: count, dtype: int64

In [241]:
cur_column = "Impact_Type"
df[cur_column].value_counts()

Impact_Type
SMV unattended vehicle    2351
SMV other                 1566
Rear end                  1317
Angle                     1109
Turning movement          1083
Sideswipe                  719
Other                      631
Approaching                151
Name: count, dtype: int64

In [242]:
for index, value in df[cur_column].items():
    if value == "SMV unattended vehicle" or value == "SMV other":
        df.at[index, cur_column] = "SMV"
    elif value in ["Angle","Turning movement", "Sideswipe"]:
        df.at[index, cur_column] = "Intersection"
    elif value == "Approaching":
        df.at[index, cur_column] = "Other"

df[cur_column].value_counts()

Impact_Type
SMV             3917
Intersection    2911
Rear end        1317
Other            782
Name: count, dtype: int64

In [243]:
cur_column = "Accident_Type"
df[cur_column].value_counts()

Accident_Type
P.D. only           6567
Non-fatal injury    1202
Non-reportable      1140
Fatal injury           9
unknown                7
Other                  2
Name: count, dtype: int64

In [244]:
for index, value in df[cur_column].items():
    if value == "unknown":
        df.at[index, cur_column] = "Other"

df[cur_column].value_counts()

Accident_Type
P.D. only           6567
Non-fatal injury    1202
Non-reportable      1140
Fatal injury           9
Other                  9
Name: count, dtype: int64

In [245]:
cur_column = "INITIALDIRECTIONOFTRAVELTWO"
df[cur_column].value_counts()

INITIALDIRECTIONOFTRAVELTWO
unknown    8927
Name: count, dtype: int64

In [246]:
df.drop(columns=["INITIALDIRECTIONOFTRAVELONE", "INITIALDIRECTIONOFTRAVELTWO"], inplace=True)

In [247]:
cur_column = "LIGHT"
df[cur_column].value_counts()

LIGHT
Daylight                6469
Dark                    1201
Dark, artificial         714
Dusk                     236
Dawn                     118
Daylight, artificial      95
Dusk, artificial          57
Other                     19
Dawn, artificial          15
Unknown                    3
Name: count, dtype: int64

In [248]:
for index, value in df[cur_column].items():
    if value == "Daylight, artificial":
        df.at[index, cur_column] = "Daylight"
    elif value == "Dark, artificial":
        df.at[index, cur_column] = "Dark"
    elif value == "Dusk, artificial":
        df.at[index, cur_column] = "Dusk"
    elif value == "Dawn, artificial":
        df.at[index, cur_column] = "Dawn"
    elif value == "Unknown":
        df.at[index, cur_column] = "Other"

df[cur_column].value_counts()

LIGHT
Daylight    6564
Dark        1915
Dusk         293
Dawn         133
Other         22
Name: count, dtype: int64

In [249]:
cur_column = "ACCIDENT_SECOND"
df[cur_column].value_counts()

ACCIDENT_SECOND
0    8927
Name: count, dtype: int64

In [250]:
cur_column = "INTTRAFFICCONTROL"
df[cur_column].value_counts()

INTTRAFFICCONTROL
Unknown           8816
Stop sign          107
Traffic signal       4
Name: count, dtype: int64

In [251]:
cur_column = "LIGHTFORREPORT"
df[cur_column].value_counts()

LIGHTFORREPORT
01 - Daylight                6469
07 - Dark                    1201
08 - Dark, artificial         714
05 - Dusk                     236
03 - Dawn                     118
02 - Daylight, artificial      95
06 - Dusk, artificial          57
99 - Other                     19
04 - Dawn, artificial          15
00 - Unknown                    3
Name: count, dtype: int64

In [252]:
df.drop(columns=["LIGHTFORREPORT", "INTTRAFFICCONTROL", "ACCIDENT_SECOND",
                 "SOUTHBOUNDDISOBEYCOUNT", "NORTHBOUNDDISOBEYCOUNT", "THRULANENO"], inplace=True)

In [253]:
cur_column = "TRAFFICCONTROL"
df[cur_column].value_counts()

TRAFFICCONTROL
No control            5726
Stop sign             1677
Traffic signal         833
unknown                526
Yield sign             112
Other                   18
Ped. crossover          18
Traffic controller       7
School guard             4
School bus               3
Traffic gate             2
Police control           1
Name: count, dtype: int64

In [254]:
cur_column = "ACCIDENTLOCATION"
df[cur_column].value_counts()

ACCIDENTLOCATION
Non intersection         3216
At/near private drive    2457
At intersection          1689
Intersection related     1381
Other                     146
At railway crossing        20
Overpass or bridge         11
Underpass or tunnel         7
Name: count, dtype: int64

In [255]:
for index, value in df[cur_column].items():
    if value in ["At intersection", "Intersection related"]:
        df.at[index, cur_column] = "Intersection"
    elif value in ["At railway crossing", "Overpass or bridge", "Underpass or tunnel"]:
        df.at[index, cur_column] = "Other"
    elif value == "At/near private drive":
        df.at[index, cur_column] = "Private Drive"

df[cur_column].value_counts()

ACCIDENTLOCATION
Non intersection    3216
Intersection        3070
Private Drive       2457
Other                184
Name: count, dtype: int64

In [256]:
cur_column = "ACCIDENT_MONTH"
df[cur_column].value_counts()

ACCIDENT_MONTH
1     994
2     944
11    821
10    751
12    740
6     730
3     695
5     695
7     679
9     637
4     630
8     611
Name: count, dtype: int64

In [257]:
for index, value in df[cur_column].items():
    if value in [1, 2, 3]:
        df.at[index, "Quarter"] = "Q1"
    elif value in [4, 5, 6]:
        df.at[index, "Quarter"] = "Q2"
    elif value in [7, 8, 9]:
        df.at[index, "Quarter"] = "Q3"
    elif value in [10, 11, 12]:
        df.at[index, "Quarter"] = "Q4"

df["Quarter"].value_counts()

Quarter
Q1    2633
Q4    2312
Q2    2055
Q3    1927
Name: count, dtype: int64

In [258]:
cur_column = "ACCIDENT_WEEKDAY"
df[cur_column].value_counts()

ACCIDENT_WEEKDAY
Friday       1502
Thursday     1331
Tuesday      1310
Wednesday    1297
Monday       1283
Saturday     1211
Sunday        993
Name: count, dtype: int64

In [259]:
df["Day_Type"] = None

for index, value in df[cur_column].items():
    if value in ["Friday", "Saturday", "Sunday"]:
        df.at[index, "Day_Type"] = "Weekend"
    else:
        df.at[index, "Day_Type"] = "Working"

df["Day_Type"].value_counts()

Day_Type
Working    5221
Weekend    3706
Name: count, dtype: int64

In [260]:
cur_column = "TRAFFICCONTROL"
df[cur_column].value_counts()

TRAFFICCONTROL
No control            5726
Stop sign             1677
Traffic signal         833
unknown                526
Yield sign             112
Other                   18
Ped. crossover          18
Traffic controller       7
School guard             4
School bus               3
Traffic gate             2
Police control           1
Name: count, dtype: int64

In [261]:
for index, value in df[cur_column].items():
    if value in ["No control", "unknown"]:
        df.at[index, cur_column] = "No control"
    elif value in ["Stop sign", "Yield sign"]:
        df.at[index, cur_column] = "Sign Control"
    elif value in ["Traffic signal"]:
        df.at[index, cur_column] = "Signal Control"
    else:
        df.at[index, cur_column] = "Other"


df[cur_column].value_counts()

TRAFFICCONTROL
No control        6252
Sign Control      1789
Signal Control     833
Other               53
Name: count, dtype: int64

In [262]:
cur_column = "TRAFFICCONTROLCONDITION"
df[cur_column].value_counts()

TRAFFICCONTROLCONDITION
unknown            5975
Functioning        2940
Not functioning       4
Not applicable        4
Missing/Damaged       2
Obscured              2
Name: count, dtype: int64

In [263]:
for index, value in df[cur_column].items():
    if value in ["Missing/Damaged", "Not functioning", "Obscured"]:
        df.at[index, cur_column] = "Improper"
    elif value in ["unknown", "Not applicable"]:
        df.at[index, cur_column] = "Unknown"

df[cur_column].value_counts()

TRAFFICCONTROLCONDITION
Unknown        5979
Functioning    2940
Improper          8
Name: count, dtype: int64

In [264]:
cur_column = "ROADJURISDICTION"
df[cur_column].value_counts()

ROADJURISDICTION
Municipal (excl. Twp. Rd.)    6481
Regional municipality         1983
unknown                        282
Private property               154
Township                        26
County or district               1
Name: count, dtype: int64

In [265]:
for index, value in df[cur_column].items():
    if value in ["Municipal (excl. Twp. Rd.)", "Township"]:
        df.at[index, cur_column] = "Municipal"
    elif value in ["Regional municipality", "County or district"]:
        df.at[index, cur_column] = "Regional"
    elif value in ["Private property", "unknown"]:
        df.at[index, cur_column] = "Other"

df[cur_column].value_counts()

ROADJURISDICTION
Municipal    6507
Regional     1984
Other         436
Name: count, dtype: int64

In [266]:
cur_column = "IMPACTLOCATION"
df[cur_column].value_counts()

IMPACTLOCATION
Thru lane                      5230
Within intersection            1682
Right shoulder                  599
Not on roadway - right side     500
Off highway                     349
Not on roadway - left side      193
Left turn lane                  137
Right turn lane                  96
Other                            55
Left shoulder                    52
Right turn channel               23
Two-way left turn lane            6
Passing lane                      5
Name: count, dtype: int64

In [267]:
for index, value in df[cur_column].items():
    if value in ["Thru lane", "Within intersection", "Left turn lane",
                 "Right turn lane", "Right turn channel", "Two-way left turn lane",
                 "Passing lane"]:
        df.at[index, cur_column] = "On roadway"
    elif value in ["Right shoulder", "Not on roadway - right side", "Off highway",
                   "Not on roadway - left side", "Left shoulder"]:
        df.at[index, cur_column] = "Off roadway"
    elif value in ["Other"]:
        df.at[index, cur_column] = "Other"

df[cur_column].value_counts()

IMPACTLOCATION
On roadway     7179
Off roadway    1693
Other            55
Name: count, dtype: int64

In [268]:
for i in df.columns:
    print(i, len(df[i].unique()))

OBJECTID 8927
ACCIDENTNUM 8927
ACCIDENTDATE 8690
ACCIDENT_YEAR 8
ACCIDENT_MONTH 12
ACCIDENT_DAY 31
ACCIDENT_HOUR 24
ACCIDENT_MINUTE 60
ACCIDENT_WEEKDAY 7
XCOORD 8451
YCOORD 8437
LONGITUDE 7539
LATITUDE 7562
ACCIDENTLOCATION 4
COLLISIONTYPE 3
Accident_Type 5
IMPACTLOCATION 3
Impact_Type 4
LIGHT 5
ROADJURISDICTION 3
TRAFFICCONTROL 4
TRAFFICCONTROLCONDITION 3
Pedestrian_Involved 2
Cyclist_Involved 2
Motorcyclist_Involved 2
Environment_Condition 4
Self_Reported 2
XMLIMPORTNOTES 8193
LASTEDITEDDATE 7118
x 8451
y 8437
Vulnerable_Involved 2
Quarter 4
Day_Type 2

In [273]:
for i in df.columns:
    print(i, (df[i].unique()))
    print()

OBJECTID [43481 43482 43483 ... 52406 52407 52408]

ACCIDENTNUM ['15-000127' '15-000229' '15-000477' ... '503153047' '503167951'
 '99-151109']

ACCIDENTDATE ['1/1/2015 12:00:00 AM' '1/1/2015 8:45:00 AM' '1/1/2015 5:30:00 PM' ...
 '4/17/2022 3:00:00 PM' '4/17/2022 6:00:00 PM' '11/8/2015 6:40:00 PM']

ACCIDENT_YEAR [2015 2016 2017 2018 2019 2020 2021 2022]

ACCIDENT_MONTH [ 1  2  3  4  5  6  7  8  9 10 11 12]

ACCIDENT_DAY [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 23 22 24
 25 26 27 28 29 30 31]

ACCIDENT_HOUR [ 0  8 17 22  9  1 19  2 18 21 10 11 12  5 14 16 15 13 20 23  7  4  6  3]

ACCIDENT_MINUTE [ 0 45 30  7 27 34 12  5 20 54 42 15  8 17 35 37 57 23 58 46 36 50 52 56
 10 53 31 44 49 55 22 24 32 38 33 13 18 28  9  6  3 59 40  4 16  1 25 26
 47 48 21 29 51 41 11 43 14  2 39 19]

ACCIDENT_WEEKDAY ['Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday']

XCOORD [542182.5531 547295.888  541068.     ... 537870.308  544491.013
 543306.5402]

YCOORD [4804330.069 4809249.336 4811108.    ... 4809733.445 4811766.07
 4812181.759]

LONGITUDE [-80.479168 -80.41561    0.       ... -80.532036 -80.450061 -80.464668]

LATITUDE [43.390668 43.434656  0.       ... 43.439551 43.457488 43.461301]

ACCIDENTLOCATION ['Intersection' 'Private Drive' 'Other' 'Non intersection']

COLLISIONTYPE [2 1 0]

Accident_Type ['P.D. only' 'Non-fatal injury' 'Non-reportable' 'Fatal injury' 'Other']

IMPACTLOCATION ['Off roadway' 'On roadway' 'Other']

Impact_Type ['SMV' 'Intersection' 'Other' 'Rear end']

LIGHT ['Daylight' 'Dark' 'Dusk' 'Dawn' 'Other']

ROADJURISDICTION ['Municipal' 'Regional' 'Other']

TRAFFICCONTROL ['Sign Control' 'No control' 'Signal Control' 'Other']

TRAFFICCONTROLCONDITION ['Functioning' 'Unknown' 'Improper']

Pedestrian_Involved [False  True]

Cyclist_Involved [False  True]

Motorcyclist_Involved [False  True]

Environment_Condition ['Clear' 'Rain' 'Snow' 'Other']

Self_Reported [False  True]

XMLIMPORTNOTES ['BRITTANIA CRES; WOODBINE AV; At'
 'MORRISON RD; 372 MORRISON RD ; At; 3 M'
 'ONTARIO ST S; JOSEPH ST; Near; 30 M' ...
 'Road 1: 68 INGLESIDE DR; Vehicle #1     Make:      Model:      Colour:      Style: ; Vehicle #2     Make: RAM     Model: RTR     Colour: BLU     Style: PK'
 'Road 1: HALLIWELL DR; Road 2: RIVER RD E; Vehicle #1     Make: HOND     Model: CRV     Colour: GRY     Style: TY; Vehicle #2     Make:      Model:      Colour:      Style:'
 'LOIS ST; FREDERICK ST; 30 M']

LASTEDITEDDATE ['3/7/2019 2:40:55 PM' '3/7/2019 2:40:54 PM' '3/7/2019 2:40:53 PM' ...
 '1/3/2023 10:14:48 AM' '12/22/2022 9:33:24 AM' '1/30/2020 11:41:24 AM']

x [542182.5531 547295.888  541068.     ... 537870.308  544491.013
 543306.5402]

y [4804330.069 4809249.336 4811108.    ... 4809733.446 4811766.07
 4812181.759]

Vulnerable_Involved [False True]

Quarter ['Q1' 'Q2' 'Q3' 'Q4']

Day_Type ['Working' 'Weekend']

In [269]:
df.to_csv("./data/waterloo_accidents_clean.csv")